<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Message Board!</title>
    </head>

    <body>
        <h1>Message Board!</h1>

        <ul>
            {% for item in items %}
            <li>{{ item.content |safe}}  -- posted by: {{item.user__username}}</li>
            {% endfor %}
        </ul>
        <h2>Filter Messages</h2>
        <form action="{% url 'filter' %}" method="POST">
            {% csrf_token %} 
            Author:<input type="text" name="query"/>
            <button type="submit" >filter</button>
        </form>
        <form action="{% url 'messages_v1' %}" method="GET">
            <button type="submit" >reset filter</button>
        </form>
        



        <h2>Add message</h2>
        <form action="./add/" method="POST">
            <!-- {% csrf_token %} -->
            <input type="text" name="content"/>
            <input type="submit"/>
        </form>

        <h2>Clear everything</h2>
        <form action="./clear/" method="POST">
            {% csrf_token %}
            <button type="submit" >Clear!</button>
        </form>

    </body>
</html>
